<html>
  <head>
    <style>
      * {
        box-sizing: border-box;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      input[type="submit"] {
        background-color: dodgerblue;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      input[type="submit"]:hover {
        background-color: rgb(84, 163, 243);
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: auto;
        width: 70%;
      }

      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
      }

      .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <h1>Update</h1>

    <div class="container">
      <form action="/update/<%=user.id %>" method="POST">
        <div class="row">
          <div class="col-25">
            <label for="fname">Name</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Your name.."
              value="<%=user.name %>"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Your email.."
              value="<%=user.email %>"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Password</label>
          </div>
          <div class="col-75">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Your password.."
              value="<%=user.password %>"
              required
            />
          </div>
        </div>
        <div class="row">
          <input type="submit" value="update" />
        </div>
      </form>
    </div>

    <script></script>
  </body>
</html>
